#
# ~/.config/systemd/user/container.service
#

[Unit]
Description=lxc-autostart containers
DefaultDependencies=no
Wants=network.target lxc.service

[Service]
Type=simple
RemainAfterExit=yes
Delegate=yes
ExecStart=lxc-unpriv-start -n <container name>
ExecStop=lxc-stop -n <container name>

[Install]
WantedBy=default.target
