#
# ~/.local/share/systemd/user/container.service
#

[Unit]
Description=lxc-autostart containers
DefaultDependencies=no
Wants=network.target lxc.service

[Service]
Type=simple
ExecStart=lxc-unpriv-start -Fn <container name>
ExecStop=lxc-stop -n <container name>

[Install]
WantedBy=default.target